body {
  background-color: #fffef4;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  border-top: 1px solid #a0a0a0;
}

.main-header {
  text-align: center;
}

.main-header li {
  text-decoration: none;
  color: white;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  list-style-type: none;
}

.main-header li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

nav a.selected, nav a:hover {
  color: green;
}

.main-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.photo {
  width: 80%;
  height: 10%;
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}

.contact {
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer li {
  list-style-type: none;
  display: inline;
}

.footer li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-large li {
  list-style-type: none;
  display: inline;
}

.footer-large li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.top-link {
  float: right;
  margin-right: 10%;
}

.profile {
  padding-bottom: 100px;
}

.profile-photo {
  padding-bottom: 20px;
  padding-top: 20px;
}

.projects::after {
    content: "";
    clear: both;
    display: table;
  }

.skills {
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
}

.skills li {
    list-style-type: none;
    font-weight: bolder;
}

nav {
    background-color: #c9c9c9;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
}

/* Media Queries */

@media (min-width: 320px) {
    .footer-large {
      display: none;
    }
}

@media (min-width: 768px) {


    .menu {
      width: 100%;
    }

    .menu ul li {
      display:inline-block;
      width: 20%;
      padding: 10px;
      padding-left: 0;
      background-color: #fffef4;
    }

    .profile {
      display: inline-block;
      padding-bottom: 0;
    }

    .profile p {
      float: left;
      width: 45%;
      text-align: center;
      padding-top: 7%;
    }

    .projects {
      background-color: white;
    }

    .marketing {
      display: inline;
      float: left;
      width: 50%;
    }

    .search {
      display: inline;
      float: right;
      width: 50%;
    }

    .travel {
      display: inline;
      float: left;
      width: 50%;
    }

    .map {
      display: inline;
      float: right;
      width: 50%;
    }

    .photo-gallery {
      display: inline;
      float: left;
      width: 50%;
    }

    .calculator {
      display: inline;
      float: right;
      width: 50%;
    }

    .contact {
      text-align: center;
      width: 100%;
    }

    .footer-large {
      display: inline-block;
      border-top: solid 1px #a0a0a0;
      width: 100%;
    }

    .footer-large li a {
      float: right;
      padding-left: 5px;
    }

    .footer-large li {
      padding: 5px;
    }


    .footer {
      display: none;
    }

}

@media (min-width: 1024px) {

  .menu {
    width: 100%;
  }

  .main-nav {
    display: inline-block;
    width: 100%;
  }

  .main-nav ul li {
    width: 10%;
  }

  .main-nav h1 {
    display: inline-block;
    width: 50%;
    float: left;
  }

  .profile {
    display: inline-block;
    padding-bottom: 0;
  }

  .profile p {
    float: left;
    width: 45%;
    text-align: center;
    padding-top: 7%;
  }

  .projects {
    background-color: white;
  }

  .marketing {
    display: inline;
    width: 33%;
  }

  .search {
    display: inline;
    width: 33%;
  }

  .travel {
    display: inline;
    width: 33%;
  }

  .map {
    display: inline;
    width: 33%;
  }

  .photo-gallery {
    display: inline;
    width: 33%;
  }

  .calculator {
    display: inline;
    width: 33%;
  }

  .contact {
    text-align: center;
    width: 100%;
  }

  .footer-large {
    display: inline-block;
    border-top: solid 1px #a0a0a0;
    width: 100%;
  }

  .footer-large li a {
    float: right;
    padding-left: 5px;
  }

  .footer-large li {
    padding: 5px;
  }

  .footer {
    display: none;
  }


}
